-------------------------------navbar start----------------------------*/
.navbar-brand img{
    width: 150px;
}
.navbar-toggler{
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 992px){
.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 80px;
}}
.navbar-brand{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

.navbar-light .navbar-nav .nav-link{
  color: black;
  font-size: large; 
  padding-left: 10px;
}
.bg-light{
  background: linear-gradient(180deg, #FEC5C5 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
}

/*-------------------------------navbar end----------------------------*/


/* ---------------------Hero Section -------------------- */
*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
  background: url('img/bg.jpg');
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
  
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  margin-bottom: 30px;
}

h3, p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}

button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
  cursor: pointer;
}


/* ---------------------Hero Section End-------------------- */
/*--------------------cards-----------------*/
.display-4{
font-family: Amaranth;
font-size: 47px;

color: #DA231F;
}
.card{
    margin-left: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
    width: 00px;
    
}
@media (min-width: 992px){
.card{
    margin-left: 60px;
    margin-bottom: 10px;
    background-color:#f4f4;
    width: 350px;
    
}}
.card-title{
        text-align: center;
}
.card .btn{
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 0;
} 
.card .love{
  margin-left: 160px;
  margin-top: 20px;
  } 
  .card .clipart{
  margin-left: 120px;
  margin-top: 20px;
  } 

  @media (max-width: 768px){
.card{
    width: 320px;
    margin-left: 20px;
    
}
.card .clipart{
  margin-left: 120px;
  margin-top: 20px;
  } 

  .card .btn{
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 0;
} 
.cardintro{
  font-family: Amaranth;
font-size: 37px;
}
}
/*--------------------cards ends-----------------*/
/* ---------------------About us-------------------- */
.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .ab1 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .ab2 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .aboutus{
    margin: 70px 05% 70px 05% ;
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  .aboutus .ab1 p
  {
    font-size: 16px;
  } 
 .aboutus .qb2 .margin
  {
    margin-bottom: 45px;
  } 
  .margin{
      padding-top: 10px;
      
  }
  .ab1 h3{
    padding-top: 10px;
    
}
.modal-body{
    color: black;
    font-size: 20px;
}
.modal-title{
    color: black;
}
  /* ---------------------About us end-------------------- */
 


  /*------------------Sponcers---------------------*/
  @import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}
.sponcer {
  background-color: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 10px;
}


  .testimonial-container {
  background-color: #476ce4;
  color: #fff;
  border-radius: 15px;
  margin: 20px auto;
  padding: 50px 80px;
  max-width: 768px;
  position: relative;
}

@media (max-width: 768px){
.testimonial-container {
    padding: 20px 30px;
    height: 400px;
}
}
.testimonial {
  line-height: 28px;
  text-align: justify;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.user .user-details {
  margin-left: 10px;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
}

.progress-bar {
  background-color: #fff;
  height: 4px;
  width: 100%;
  animation: grow 10s linear infinite;
  transform-origin: left;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media (max-width: 768px) {
  .testimonial-container {
    padding: 20px 30px;
  }

  
}
/*-------------------------sponcers end-----------------*/

/*--------------------------------rolling menu----------------------*/
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .ball{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 90%;
    left: 90%;
    transform: translate(-50%);
    border-radius: 10px;
    background: #252525;
  }
  .ball::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50px;
    box-shadow: 0 0 0 5px rgb(94,94,94),0 0 0 10px rgb(59,59,59);
  }
.menu a{
  text-decoration: none;
}
  .ball input{
    /*-webkit-appearance: none;*/
    position: absolute;
    width: 100%
    height:100%;
    outline: none;
    cursor: pointer;
  }
  .menu{
    width: 300px;
    height:500px;
    background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);

    /*background-image: linear-gradient(160deg,#0093e9 0%,#80d0e7 100%);*/
    position: absolute;
    top: -1010%;
    left: -180px;
    display: none;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;

  }

@media (max-width: 768px){
.menu{
        margin-left: -25px;
        width: 200px;
      top: -450px;

}
}
  .menu div{
      display: flex;
      align-items: center;
      margin: 10px 30px 0 35px;
      padding: 10px 0 10px 15px;
      color: #350b40;
      /*background:  rgba(255,255,255,0.366);*/
      background-color: #98ded9;
      border-radius: 10px;
      cursor: pointer;
      transition: all .4s;
      height: 50px;
  }
  .menu div p{
   margin: 10px 10px 10px 10px;
    font-family: 'roboto slab',serif;    
    font-weight: bold;
  }
  .menu div:hover{
    transform: translateX(12px);
  }
  #clic{
    margin-left:18px;
    margin-top: 17px;
  }
  input:checked ~ .menu{
    display: flex;  
    animation: anim 0.5s;
  }
  @keyframes anim{
    0%{
      clip-path: circle(0% at 50% 50%);
    }
    100%{
      clip-path: circle(100% at 50% 50%);
    }
  }
  
/*---------------------------------------rolling menu end--------------------------------*/


  /*-------------------------Footer---------------*/
.site-footer
{
  background: linear-gradient(180deg, #FEC5C5 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:black;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.instagram:hover
{
  background-color:#d6249f
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/*---------------------------------------footer end----------------