/*--------------------cards-----------------*/
.display-5{
font-family: Amaranth;
font-size: 47px;

color: #DA231F;
}
.vidcard{
    margin-left: 10px;
    margin-bottom: 10px;
    
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
}
@media (min-width: 992px){
.vidcard{
    margin-left: 60px;
    margin-bottom: 10px;
    background-color:#f4f4;
    width: 350px;
    
}}
.card-title{
        text-align: center;
}
.vidcard .btn{
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 0;
} 
.vidcard .love{
  margin-left: 160px;
  margin-top: 20px;
  } 
  .vidcard .clipart1{
  margin-left: 120px;
  margin-top: 20px;
  } 

  @media (max-width: 768px){
.vidcard{
    width: 320px;
    margin-left: 20px;
    
}
.vidcard .clipart1{
  margin-left: 110px;
  margin-top: 20px;
  } 

  .vidcard .btn{
  margin-left: 90px;
  margin-top: 20px;
  margin-bottom: 0;
} 
.cardintro{
  font-family: Amaranth;
font-size: 37px;
}
}
/*--------------------cards ends-----------------*/